# HW - OPTIMIZATION

### Maximization/Minimization
### 1) The diet problem

In [1]:
import pulp as pp

In [2]:
model= pp.LpProblem(name='diet-problem', sense=pp.LpMinimize)

**Variables**

In [3]:
VegaVita = pp.LpVariable(name="Vega Vita", lowBound=0, cat='Continuous')

HappyHealth = pp.LpVariable(name="Happy Health", lowBound=0, cat='Continuous')

**Optimize function**

In [4]:
VV_Coeff=0.2
HH_Coeff=0.3
obj_func= VV_Coeff*VegaVita + HH_Coeff*HappyHealth

**Constraints**

In [5]:
VitC= pp.LpConstraint(name= 'VitC Constraint',
                      e=20*VegaVita + 30*HappyHealth, rhs=60,
                      sense= pp.LpConstraintGE)
Cal= pp.LpConstraint(name= 'Calcium Constraint',
                      e=500*VegaVita + 250*HappyHealth, rhs=1000,
                      sense= pp.LpConstraintGE)
Iron= pp.LpConstraint(name= 'Iron Constraint',
                      e=9*VegaVita + 2*HappyHealth, rhs=18,
                      sense= pp.LpConstraintGE)
Nia= pp.LpConstraint(name= 'Niacin Constraint',
                      e=2*VegaVita + 10*HappyHealth, rhs=20,
                      sense= pp.LpConstraintGE)
Mag= pp.LpConstraint(name= 'Magnesium Constraint',
                      e=60*VegaVita + 90*HappyHealth, rhs=360,
                      sense= pp.LpConstraintGE)

**Model**

In [6]:
model+= obj_func
model+= VitC
model+= Cal
model+= Iron
model+= Nia
model+= Mag

In [7]:
C_solver= pp.COIN_CMD(path="C:/Users/ALEXANDRA/anaconda3/Lib/site-packages/pulp/solverdir/cbc/win/64/cbc.exe", msg=False)
model.solve(solver=C_solver)

1

In [8]:
import pandas as pd
Results={"Model Status":pp.LpStatus[model.status]}
Results.update({"Optimal Solution":pp.value(model.objective)})
Results.update({v.name: v.varValue for v in model.variables()})
Results

{'Model Status': 'Optimal',
 'Optimal Solution': 1.2,
 'Happy_Health': 3.1304348,
 'Vega_Vita': 1.3043478}

### 2) The scheduling problem

In [9]:
model2=pp.LpProblem(name='Scheduling-problem', sense=pp.LpMinimize)

In [10]:
A = pp.LpVariable(name="Shift 0-4 am",
                 lowBound=0,
                 cat='Continuous')
B = pp.LpVariable(name="Shift 4-8 am",
                 lowBound=0,
                 cat='Continuous')
C = pp.LpVariable(name="Shift 8-12 am",
                 lowBound=0,
                 cat='Continuous')
D = pp.LpVariable(name="Shift 12-16 pm",
                 lowBound=0,
                 cat='Continuous')
E = pp.LpVariable(name="Shift 16-20 pm",
                 lowBound=0,
                 cat='Continuous')
F = pp.LpVariable(name="Shift 20-0 pm",
                 lowBound=0,
                 cat='Continuous')

In [11]:
obj_func2 = A + B + C + D + E + F

In [12]:
C1= pp.LpConstraint(name='DR_0.8 Constraint',  
                    e= 1*A + 1*B, rhs=4, 
                    sense=pp.LpConstraintLE) 
C2= pp.LpConstraint(name='DR_4.12 Constraint',  
                    e= 1*B + 1*C, rhs=8, 
                    sense=pp.LpConstraintLE)
C3= pp.LpConstraint(name='DR_8.16 Constraint',  
                    e= 1*C + 1*D, rhs=10, 
                    sense=pp.LpConstraintLE)
C4= pp.LpConstraint(name='DR_12.20 Constraint',  
                    e= 1*D + 1*E, rhs=7, 
                    sense=pp.LpConstraintLE)
C5= pp.LpConstraint(name='DR_16.0 Constraint',  
                    e= 1*E + 1*F, rhs=12, 
                    sense=pp.LpConstraintLE)
C6= pp.LpConstraint(name='DR_20.4 Constraint',  
                    e= 1*F + 1*A, rhs=4, 
                    sense=pp.LpConstraintLE)

In [13]:
model2 += obj_func2
model2 += C1
model2 += C2
model2 += C3
model2 += C4
model2 += C5
model2 += C6

In [14]:
C_solver= pp.COIN_CMD(path="C:/Users/ALEXANDRA/anaconda3/Lib/site-packages/pulp/solverdir/cbc/win/64/cbc.exe", msg=False)
model.solve(solver=C_solver)

1

In [16]:
import pandas as pd

Results2={"Model Status":pp.LpStatus[model2.status]}
Results2.update({"Optimal Solution":pp.value(model2.objective)})
Results2.update({v.name: v.varValue for v in model2.variables()})
Results2

{'Model Status': 'Not Solved',
 'Optimal Solution': None,
 'Shift_0_4_am': None,
 'Shift_12_16_pm': None,
 'Shift_16_20_pm': None,
 'Shift_20_0_pm': None,
 'Shift_4_8_am': None,
 'Shift_8_12_am': None}

## Multi Criteria: Choosing a Master Program

In [5]:
%%html
<iframe src="https://docs.google.com/spreadsheets/d/1fcnfcmDSSisiYiu-FpnYT5cKBQYqrjnE1DkigsHcM8E/edit?gid=1644302930#gid=1644302930" width="900" height="400" ></iframe4

In [18]:
linkGoogle = 'https://docs.google.com/spreadsheets/d/1fcnfcmDSSisiYiu-FpnYT5cKBQYqrjnE1DkigsHcM8E/export?format=xlsx'

In [28]:
import pandas as pd

pairwise_costs = pd.read_excel(linkGoogle, sheet_name='cost of living', index_col=0, usecols="A:E", nrows=5)
pairwise_language = pd.read_excel(linkGoogle, sheet_name='languaje difficulty', index_col=0, usecols="A:E", nrows=5)
pairwise_job = pd.read_excel(linkGoogle, sheet_name='possibilities to get a job', index_col=0, usecols="A:E", nrows=5)
pairwise_criteria = pd.read_excel(linkGoogle, sheet_name='criterios', index_col=0, usecols="A:D", nrows=4)

In [29]:
pairwise_costs

         uk   germany  spain     chile
uk        1  0.333333    0.5  0.111111
germany   3  1.000000    0.5  0.200000
spain     2  2.000000    1.0  0.500000
chile     9  5.000000    2.0  1.000000

In [30]:
pairwise_language

          uk  germany     spain     chile
uk       1.0        5  0.111111  0.111111
germany  0.2        1  0.111111  0.111111
spain    9.0        9  1.000000  1.000000
chile    9.0        9  1.000000  1.000000

In [33]:
pairwise_job

               uk   germany  spain     chile
uk       1.000000  0.500000      8  6.000000
germany  2.000000  1.000000      9  7.000000
spain    0.125000  0.111111      1  0.333333
chile    0.166667  0.142857      3  1.000000

In [31]:
pairwise_criteria

          cost  language       job
cost       1.0         5  0.111111
language   0.2         1  0.142857
job        9.0         7  1.000000

In [32]:
G_costs = nx.from_pandas_adjacency(pairwise_costs,create_using=nx.MultiDiGraph())
G_costs.edges(data=True)

OutMultiEdgeDataView([('uk', 'uk', {'weight': 1.0}), ('uk', 'germany', {'weight': 0.3333333333}), ('uk', 'spain', {'weight': 0.5}), ('uk', 'chile', {'weight': 0.1111111111}), ('germany', 'germany', {'weight': 1.0}), ('germany', 'uk', {'weight': 3.0}), ('germany', 'spain', {'weight': 0.5}), ('germany', 'chile', {'weight': 0.2}), ('spain', 'spain', {'weight': 1.0}), ('spain', 'uk', {'weight': 2.0}), ('spain', 'germany', {'weight': 2.0}), ('spain', 'chile', {'weight': 0.5}), ('chile', 'chile', {'weight': 1.0}), ('chile', 'uk', {'weight': 9.0}), ('chile', 'germany', {'weight': 5.0}), ('chile', 'spain', {'weight': 2.0})])

In [37]:
costs_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_costs.edges(data=True) if e[0]!= e[1]}

G_language = nx.from_pandas_adjacency(pairwise_language,create_using=nx.MultiDiGraph())
language_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_language.edges(data=True) if e[0]!= e[1]}

G_job = nx.from_pandas_adjacency(pairwise_job,create_using=nx.MultiDiGraph())
job_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_job.edges(data=True) if e[0]!= e[1]}

In [38]:
[costs_comparisons, language_comparisons,job_comparisons]

[{('uk', 'germany'): 0.3333333333,
  ('uk', 'spain'): 0.5,
  ('uk', 'chile'): 0.1111111111,
  ('germany', 'uk'): 3.0,
  ('germany', 'spain'): 0.5,
  ('germany', 'chile'): 0.2,
  ('spain', 'uk'): 2.0,
  ('spain', 'germany'): 2.0,
  ('spain', 'chile'): 0.5,
  ('chile', 'uk'): 9.0,
  ('chile', 'germany'): 5.0,
  ('chile', 'spain'): 2.0},
 {('uk', 'germany'): 5.0,
  ('uk', 'spain'): 0.1111111111,
  ('uk', 'chile'): 0.1111111111,
  ('germany', 'uk'): 0.2,
  ('germany', 'spain'): 0.1111111111,
  ('germany', 'chile'): 0.1111111111,
  ('spain', 'uk'): 9.0,
  ('spain', 'germany'): 9.0,
  ('spain', 'chile'): 1.0,
  ('chile', 'uk'): 9.0,
  ('chile', 'germany'): 9.0,
  ('chile', 'spain'): 1.0},
 {('uk', 'germany'): 0.5,
  ('uk', 'spain'): 8.0,
  ('uk', 'chile'): 6.0,
  ('germany', 'uk'): 2.0,
  ('germany', 'spain'): 9.0,
  ('germany', 'chile'): 7.0,
  ('spain', 'uk'): 0.125,
  ('spain', 'germany'): 0.1111111111,
  ('spain', 'chile'): 0.3333333333,
  ('chile', 'uk'): 0.1666666667,
  ('chile', 'germany'): 0.1428571429,
  ('chile', 'spain'): 3.0}]

In [39]:
G_criteria= nx.from_pandas_adjacency(pairwise_criteria,create_using=nx.MultiDiGraph())
criteria_comparisons ={(e[0],e[1]):e[2]['weight'] for e in G_criteria.edges(data=True) if e[0]!= e[1]}
criteria_comparisons

{('cost', 'language'): 5.0,
 ('cost', 'job'): 0.1111111111,
 ('language', 'cost'): 0.2,
 ('language', 'job'): 0.1428571429,
 ('job', 'cost'): 9.0,
 ('job', 'language'): 7.0}

In [54]:
import ahpy

cost_living = ahpy.Compare('cost', costs_comparisons, precision=3, random_index='saaty')
language_difficulty = ahpy.Compare('language', language_comparisons, precision=3, random_index='saaty')
job_opportunities = ahpy.Compare('job', job_comparisons, precision=3, random_index='saaty')
criteria = ahpy.Compare('criteria', criteria_comparisons, precision=3, random_index='saaty')

In [55]:
criteria.add_children([cost_living, language_difficulty, job_opportunities])

In [56]:
print(criteria.target_weights)

{'germany': 0.435, 'uk': 0.288, 'chile': 0.182, 'spain': 0.095}

In [57]:
[(val.name,val.consistency_ratio) for val in [cost_living, language_difficulty, job_opportunities, criteria]]

[('cost', 0.052), ('language', 0.127), ('job', 0.047), ('criteria', 0.382)]

## Benchmarking